*
{margin: 0;
padding:0;
}

body
{
    
    color: #001021;
    font-family:  'Monaco';
    font-size: 20px;
}
.banner
{
    /* background-color: #9A8F97; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(img.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
    width: 100%;
    position: relative;
    
}
.banner-text
{
    text-align: center;
    position: relative;
    top: 40%;
    left: 50;
    transform: translate(-50%,-50);
    color:#7bdff2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
}
.banner-text h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 140px;
    letter-spacing: 8.9px;
    color:#8ac926;
}
.btn 
{
    display: inline-block;
    border: 4px solid #a3cef1;
    padding: 10px;
    left: auto;
    cursor: pointer;
}
.btn:hover
{
    background-color:#a3cef1 ;
    color:white;
    transition: all .5s;
}